.sidebar{
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: #495057;
    display: grid;
    align-items: center;
    top: 0;
    left: 0;
    transition: 0.3s ease-in-out;
    opacity: 0.9;
}

.sidebarContent {
    color: #ced4da;
}

.sidebarManu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6,80px);
    text-align: center;
}

@media screen and (max-width: 480px) {
    .sidebarManu{
        grid-template-rows: repeat(6, 60px);
    }
}


.sidebarLink {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    text-decoration: none;
    list-style: none;
    transition: 0.2 ease-in-out;
    text-decoration: none;
    color: #f8f9fa;
    cursor: pointer;

}

.sidebarLink:hover{
    color: #fff;
    transition: 0.2s ease-in-out;
}

.closeIcon {
    color: #f8f9fa;
}

.icon{
    position: absolute;
    top: 1.2rem;
    right: 1.5rem;
    background: transparent;
    font-size: 2rem;
    cursor: pointer;
    outline: none;
}
