.inputPlace {
    opacity: 0.8;
}


.form-control {
  text-align: center;
}

.showAnimeLeft {
    position: relative;
  animation-name: example;
  animation-duration: 1s;
}

@keyframes example {
    0%   {opacity: 0; left: -700px;}
    100%  {opacity: 1; left: 0px;}
} 

.showAnimeRight {
    position: relative;
  animation-name: example2;
  animation-duration: 1s;
}

@keyframes example2 {
    0%   {opacity: 0; right: -700px;}
    100%  {opacity: 1; right: 0px;}
} 